<html>
 <body>
  <form name="relevance" action="https://pubcron.appspot.com/mailupdate" method="post">
    <p>Your <a href="http://pubcron.appspot.com">PubCron</a> query
    returned <b>{{ nhits }}</b> hits. {{ maxhit_exceeded }}</p>
    {% if retmax_exceeded %}
    <b>Important note: the number of hits returned by your query
       exceeded the limit of abstracts that PubCron requests from
       PubMed. As a results, some hits were ignored. Enter a more
       specific query term if this message appears regularly.</b><br />
    {% endif %}
    <p><i>You can specify wheter an abstract is relevant or not
    and notify the Pubcron server by pressing the "Send feedback"
    button (this will trigger a warning). This information will
    be used to sort future hits by relevance.</i></p>
    <input type="submit" value="Send feedback" />
    <br />
    <br />
    <input type="hidden" name="user" value="{{ user }}" />
  {% for abstr in Abstr_list %}
    <span class="journal_date" style="font-zie:75%;">
    {{ abstr.journal }}. {{ abstr.pubdate }}
    </span><br />
    <span class="article_title" style="font-weight:bold;">
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ abstr.pmid }}">{{ abstr.title }}</a> ({{ abstr.score }})
    </span>
    <br />
    <span class="author_list" style="font-style:italic; font-size:80%;">
      {{ abstr.authors }}.</span><br />
    <p class="abstract_body" style="text-indent:2em;">
    {{ abstr.text }}
    </p>
    Is this abstract relevant?
    <input type="radio" name="{{ abstr.pmid }}" value="Yes" /> Yes
    <input type="radio" name="{{ abstr.pmid }}" value="No" /> No
    <input type="radio" name="{{ abstr.pmid }}" value="NA" checked /> No answer
    <br />
    <br />
    <br />
  {% endfor %}
    <input type="submit" value="Send feedback" />
    <p>To unsubscribe, visit
    <a href="http://pubcron.appspot.com/query.html">http://pubcron.appspot.com/query.html</a>
    and enter an empty query.</p>
  </form>
 </body>
</html>
