<html>
  <head>
    <title>PubCron ({{ user_data.user.nickname }})</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
  </head>
  <body>
    <div id="band"><div id="header"><h1>Pub<span class="cron">Cron</span></h1></div></div>
    <div id="spacer"></div>
    <div id="main_container">
    <div id="left_band"></div>
    <div id="main">
    <div id="user_info">
    {% if user_data.term %}
      Your PubMed query term as
      <span class="login">{{ user_data.user.nickname }}</span> is<br />
      <span class="term">{{ user_data.term }}</span>
      {% if user_data.term_valid %}
      <span class="valid">(valid)</span>
      {% else %}
      <span class="invalid">(not valid)</span>
      {% endif %}
    {% else %}
      You are logged in as
      <span id="login">{{ user_data.user.nickname }}</span>.
    {% endif %}
    
    </div>

    <div id="submit_area">
    Enter the query term to be submitted to PubMed.<br />

    <form action="/update" method="post">
      <input type="text" name="term" size="40">
      <input type="submit" value="Submit">
    </form>
    <span style="font-size:80%">Example:</span>
    <span class="term">nature[journal]+OR+science[journal]</span>

    </div>

    <div id="footer">
    The query results will be sent to
    <span class="login">{{ user_email }}</span>.
    </div>
    <form id="logout_button" action="{{ logout_url }}" method="get">
      <input type="Submit" value="Logout">
    </form>
    </div> <!-- end main_container -->
    </div> <!-- end main -->

  </body>
</html>
