<h1>PubCron Query</h1>
<div id="user_info">
  {% if user_data.term %}
    <h2>Your PubMed query is:</h2>
    <p class="breakword"> {{ user_data.term }} </p>
    {% if user_data.term_valid %}
    <span class="valid">(valid)</span>
    {% else %}
    <span class="invalid">(not valid)</span>
    {% endif %}
  {% endif %}
</div>

<div id="submit_area">
  Enter the query term to be submitted to
  <a href="http://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>.
  <br />
  <form action="/update" method="post">
  <textarea name="term" rows="3" cols="71"></textarea><br />
  <input type="submit" value="Submit">
  </form>
  <span style="font-size:80%; font-weight:bold;">Examples:</span>
  <p class="breakword">nature[journal]+OR+science[journal]</p>
  <p class="breakword">(nature[journal]+OR+nature+biotechnology[journal]+OR+science[journal]+OR+cell[journal]+OR+chromatin[all])+AND+english[language]+NOT+review[ptyp]</p>
</div>
<!-- Vertical spacer. -->
<div style="height:2em;"></div>
The query results will be sent to<br />
<span class="login">{{ user_email }}</span>
