/* Text defaults */
body {
  font-family:"Serif";
}
h1 {
  font-size:300%;
}
h2 {
  margin-top:0px;
  font-weight:bold;
  font-size:20;
}
p {
  text-indent:1em;
}

/* Other stuff */

#band {
  height:24px;
}
#linea {
  height:8px;
  background-color:#006633; // dark green
}
#lineb {
  height:8px;
  background-color:#009933; // green
}
#linec {
  height:8px;
  background-color:#99CC99; //pale green
}
#links {
  position:absolute;
  top:6px;
  left:21%;
  text-align:center;
}
#spacer{
  height:10px;
}
#main_container {
  position:relative;
}
#body {
  position:absolute;
  left:20%;
  top:40px;
  width:516px;
}
#submit_area {
  margin-top:2em;
}
#footer {
  height:6em;
}

.breakword {
  text-indent:0em;
  font-family:monospace;
  background-color:#E0E0E0; // gray
  width:495px;
  word-wrap:break-word;
  margin-top:0px;
  margin-bottom:1em;
}
.term {
}
.login {
  font-weight:bold;
}
.valid {
  color:green;
}
.invalid {
  font-weight:bold;
  color:red;
}
