body {
  font-family:serif;
}
h1 {
  font-weight:bold;
  font-size:48;
  margin-bottom:5px;
}
h2 {
  margin-top:0px;
  font-weight:bold;
  font-size:20;
  margin-bottom:2em;
}
#band {
  height:15px;
}
#linea {
  height:5px;
  background-color:006633;
}
#lineb {
  height:5px;
  background-color:009933;
}
#linec {
  height:5px;
  background-color:99CC99;
}
#spacer{
  height:10px;
}
#main_container {
  position:relative;
}
#body {
  position:absolute;
  left:20%;
  top:40px;
  width:500px;
}
#submit_area {
  margin-top:2em;
}
#footer {
  margin-top:2em;
}
.bw {
  width:495px;
  word-wrap:break-word;
  margin-top:0px;
  margin-bottom:1em;
}
.term {
  font-family:monospace;
}
.login {
  font-weight:bold;
}
.valid {
  color:green;
}
.invalid {
  font-weight:bold;
  color:red;
}
.mailupdate {
  font-weight:bold;
  color:green;
}
