{% extends "base.html" %}

{% block content %}
<div class="info">
  <h1>About</h1>
  <p>Hi, I am
  <a href="https://plus.google.com/102441667247494916086">Guillaume Filion</a>,
  the developer of PubCron.
  The project started as a quick way to get around with HTML,
  Python, databases and information retrieval for an internship
  student. Sure enough, this wasn't a revolution, but we had
  a lot of fun, and even if we developed it for our own
  purposes we decided to make it public, for whoever would
  find it useful.</p>

  <p>As I write those lines, I am finishing an update of
  the interface. Since Google App Engine updated the runtime
  environment to Python 2.7 several features were broken, and
  the page looked ugly anyway. I don't plan to maintain
  PubCron very actively in the future, but who knows...</p>

  <p>I personally find it very useful. In about a week time
  the articles I received were very relevant to my own research
  and taste. On several occasions this drew my attention to
  articles I would have otherwise missed. Still, I have to admit
  that receiving so many abstracts every day, of stuff that I
  cannot read for lack of time adds to my unconscious stress
  level. I feel rather relieved when there is nothing interesting
  on PubMed.</p>

  <p>Anyway, feel free to use PubCron the way you like. The
  <a href="https://github.com/gui11aume/pubcron">code</a>
  is free, in case you want to build something from there.
  With the current update, it is even more or less readable.</p>

  Finally, since you are still reading, I would like to advertise
  my <a href="http://blog.thegrandlocus.com">blog</a>, where I
  talk mostly about data analysis and genetics, and the website
  of <a href="http://lab.thegrandlocus.com">my lab</a> where
  you will find more about the research we do.</p>
</div>
{% endblock %}


