{% extends "base.html" %}

{% block content %}
<div class="info">
  <h1>What is the difference between a FAQ and a FAQ(E)?</h1>
  The aim of an FAQ is to answer users' frequently asked questions,
  while a FAQ(E) is quite the opposite. It looks like a FAQ
  in the question-answer format, but the questions are carefully
  chosen by the developers to emphasize the strengths of their
  product.

  <h1>What does FAQ(E) stand for?</h1>
  Well, honestly... I don't know.

  <h1>What does PubCron do?</h1>
  PubCron automatically retrieves new
  <a href="http://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>
  abstracts matching your
  personal query, sorts them by relevance and sends them to you by mail.
  It is a bit like personalized medicine without the medicine part.

  <h1>How does that differ from PubCrawler?</h1>
  Well, not so much really. Mostly, it's the Linux penguin 
  in PubCrawler <i>versus</i> the red book of PubCron.
  I don't have anything against penguins by the way, it's just
  that I thought that a book would be more appropriate.
  Still, if you're a penguin type of person, you should definitely
  check out
  <a href="http://pubcrawler.gen.tcd.ie/">PubCrawler</a>.

  <h1>Is PubCron open source?</h1>
  Yes, I'm glad you asked. You can get the source code from
  <a href="https://github.com/gui11aume/pubcron">github</a>.

  <h1>What do I need to use PubCron?</h1>
  You need a Google account. This is how your identity is
  recorded by PubCron. This also defines the email address
  where the results will be sent to.

  <h1>How can I unsubscribe from PubCron?</h1>
  Fill in an empty query on your PubCron's
  <a href="/query">query</a> page.

  <h1>How can I send relevance feedback?</h1>
  You have to do it from the PubCron mails. You can specify whether
  an abstract is relevant or not with the radio buttons after the text.
  Check "No answer" if you do not want to give relevance feedback for
  a particular abstract. Then press one of the "Send feedback" buttons
  at the beginning or the end of the mail. Sending the information
  from your Gmail to PubCron will trigger a warning. I am not trying
  to hack the hell out of your personal information, don't worry.
  At least not for now.

  <h1>What do the numbers next to the abstract title mean?</h1>
  This is the abstract relevance score. If you never sent any
  feedback, they should all be 0. Otherwise, they tell you  how the
  given text matches your taste. If the score is negative,
  the abstract looks like stuff you don't like. If it is positive
  it looks more like stuff you like.

  <h1>Do I have to send feedback for all articles?</h1>
  You do not have to send feedback at all, but I recommend
  you send feedback for at least one relevant <em>and</em> one
  irrelevant abstract. Otherwise the abstracts will come in a
  random order.

  <h1>Why do I receive at most 40 articles?</h1>
  Hands-on experience shows that the top 40 hits usually contain
  the most interesting abstracts (unless you never gave relevance
  feedback). Also, without this limit, the PubCron mail can become
  quite large, which is not cool for your mailbox and your mail client.

  <h1>Why do I get a warning message in the PubCron mail?</h1>
  PubCron is a free application powered by
  <a href="http://code.google.com/appengine/">Google App Engine</a>.
  In order to stay within the limits of the quotas on traffic and
  computer power, PubCron has a limit on the articles it retrieves
  from PubMed (currently 200). If your query routinely returns
  more than this number of hits, some articles will be ignored
  (<i>i.e.</i> they will not be ranked and not be returned in the
  PubCron mail). To avoid this, make sure your query is focused
  and does not return too many hits.

  <h1>I gave relevance feedback. Why do the articles still have a
  null score?</h1>
  You probably gave feedback for relevant articles only. PubCron
  can compute a relevance score only if you give feedback for
  <em>both</em> relevant and irrelevant abstracts.
</div>
{% endblock %}


